<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Document</title>
   <link rel="stylesheet" href="/static/css/cart.css"/>
   <script src="/static/js/jquery-1.11.3.js"></script>
   <script src="/static/js/jquery.cookie.js"></script>
   <script src="/static/js/cart.js"></script>
 </head>
 <body>
  <div class="container">
		<!-- 1、网页头部 -->
		<div id="top">
			<!-- 1.1 右：列表 -->
			<ul id="list">
                <li>
                    <b><a href="/">返回首页</a></b>
                </li>
				<li id="login">

				</li>
				<li>
					<b></b>
					果园公告
				</li>
				<li>
			</ul>
			<!-- 1.2 左：三个超链接 -->
			<!-- 1.2.1 上海 -->
			<a href="#" class="address">
				上海 
				<u></u>
			</a>
			<!-- 1.2.2 满百包邮 -->
			<a>满百包邮(环郊内)</a>
			<!-- 1.2.3 星夜达 -->
			<a href="#" class="xing">星夜达</a>
		</div>
		<!-- 2、LOGO 和 热门搜索 -->
		<!-- 3、BANNER广告(横幅广告) -->
		<div id="banner">
			<img src="/static/img/banner1.jpg">
		</div>
		<!-- 4、四幅小广告 -->
		<ul id="adv-img">
			<li>
				<a href="#">
					<img src="/static/img/1.jpg">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/static/img/2.jpg">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/static/img/3.jpg">
				</a>
			</li>
			<li class="no-margin">
				<a href="#">
					<img src="/static/img/4.jpg">
				</a>
			</li>
		</ul>
		<!-- 5、网页主体内容(各种产品) -->
		<div id="main">
      <div class="title">
        <p class="check-box">
          <input type="checkbox" id="checkall">
          全选
        </p>
        <p class="goods">商品</p>
        <p class="price">单价</p>
        <p class="quantity">数量</p>
        <p class="t-sum">小计</p>
        <p class="action">操作</p>
      </div>
      <div id="good-content">
          {% for cart in carts %}
        <div class="g-item">
          <p class="check-box">
            <input type="checkbox">
            <img src="/{{ cart.goods.picture }}" width="80">
          </p>
          <p class="goods">{{ cart.goods.title }}</p>
          <p class="price">{{ cart.goods.price }}</p>
          <p class="quantity">{{ cart.ccount }}</p>
          <p class="t-sum">
            <b>&yen{{ cart.goods.price }}</b>
          </p>
              <p class="action">

              </p>
        </div>
          {% endfor %}
      <p><input type="submit" value="结算" id="suan"></p>
        <div>
            <a href='' id="del">删除</a>
		<!-- 5、网页主体内容结束-->
		<!-- 6、网页底部 -->
	</div>
 </body>
</html>
