<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/css/wd.css">
	<script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
{#    <script type="text/javascript" src="/static/js/cart.js"></script>#}
    <script src="/static/js/index.js"></script>
</head>
<body>
	<!-- 页面划分 -->
	<div id="container">
		<!-- 1.导航 -->
		<div id="nav">
			<!-- 1.1右侧导航 -->
			<ul class="rightNav">
				<li id="login">
					<a href="#">[登录]</a>

					<a href="#">[注册，有惊喜]</a>
				</li>

				</li>
				<li>
					<b></b>
					<a href="#">果园公告</a>
				</li>
			</ul>
			<!-- 左侧导航 -->
			<ol class="leftNav">
				<li class="address">
					<span id='dz'>上海</span>
					<!-- 三角标 -->
					<u></u>
					<ul class="select" id="city_s">
						<li id='bj'>北京</li>
						<li id='gz'>广州</li>
						<li id='hz'>杭州</li>
					</ul>
				</li>
				<li>满百包邮(含郊区)</li>
				<li>星夜达</li>
			</ol>
		</div>
		<!-- 2.横幅 -->
		<div id="banner">
			<div class="wrapper">
			<img src="/static/img/banner1.jpg" id="banner1">
			<img src="/static/img/banner2.jpg" id="banner2">
			<img src="/static/img/banner3.jpg" id="banner3">

		</div>
		<ul class="imgNav">
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
		</ul>
		</div>

		<!-- 3.今日推荐 -->
		<div id = 'adv'>
			<a href="#">
				<img src="/static/img/1.jpg">
			</a>
			<a href="#">
				<img src="/static/img/2.jpg">
			</a>
			<a href="#">
				<img src="/static/img/3.jpg">
			</a>
			<a href="#">
				<img src="/static/img/4.jpg" id="lastimg">
			</a>
		</div>

		<!-- 4.主体信息 -->
		<div id="main">

		<div id="foot"></div>
	</div>

</body>

</html>